; =======================================================================
; BEGIN CSM related fix

; Skip the intro anyway...
modify: 
{ 
	match: 
	{ 
		"hammerid" "506883" 
	} 
	delete:
	{ 
		"OnGameplayStart" "relay_intro_startTrigger0-1"
	} 
}

; a trigger_multiple that kicks Francis, delete it
filter:
{
	"hammerid" "765976"
}

; END CSM related fix
; =======================================================================

; =======================================================================
; BEGIN Reduce unnecessary entities to avoid running out of edict on restart
filter:
{
    "classname" "func_playerinfected_clip"
}

filter:
{
    "classname" "func_playerghostinfected_clip"
}

filter:
{
    ; car 1 - glass
    "hammerid" "1095608"
}
{
    ; car 1
    "hammerid" "1095612"
}
{
    ; car 2 - glass
    "hammerid" "1095742"
}
{
    ; car 2
    "hammerid" "1095746"
}
{
    ; car 3 - glass
    "hammerid" "1028182"
}
{
    ; car 3
    "hammerid" "1028186"
}
{
    ; car 4 - glass
    "hammerid" "1095675"
}
{
    ; car 4
    "hammerid" "1095679"
}
{
    ; car 5 - glass
    "hammerid" "1028115"
}
{
    ; car 5
    "hammerid" "1028119"
}
{
    ; car 6 - glass
    "hammerid" "1028249"
}
{
    ; car 6
    "hammerid" "1028253"
}
{
    ; car 7 - glass
    "hammerid" "1029121"
}
{
    ; car 7
    "hammerid" "1029125"
}
{
    ; car 8 - glass
    "hammerid" "1029188"
}
{
    ; car 8
    "hammerid" "1029192"
}
{
    ; car 9 - glass
    "hammerid" "1029255"
}
{
    ; car 9
    "hammerid" "1029259"
}
{
    ; car 10 - glass
    "hammerid" "1003042"
}
{
    ; car 10 - glass2
    "hammerid" "1003959"
}
{
    ; car 10
    "hammerid" "1003051"
}
{
    ; car 10 - sprite1
    "hammerid" "1003055"
}
{
    ; car 10 - sprite2
    "hammerid" "1003058"
}
{
    ; car 10 - sprite3 
    "hammerid" "1003061"
}
{
    ; car 10 - sprite4
    "hammerid" "1003064"
}
{
    ; car 10 - spotlight1 
    "hammerid" "1003070"
}
{
    ; car 10 - spotlight2
    "hammerid" "1003072"
}
{
    ; car 11 - glass
    "hammerid" "989861"
}
{
    ; car 11 - glass2
    "hammerid" "990769"
}
{
    ; car 11
    "hammerid" "989852"
}
{
    ; car 11 - sprite1
    "hammerid" "989865"
}
{
    ; car 11 - sprite2
    "hammerid" "989868"
}
{
    ; car 11 - sprite3 
    "hammerid" "989871"
}
{
    ; car 11 - sprite4
    "hammerid" "989874"
}
{
    ; car 11 - spotlight1 
    "hammerid" "989880"
}
{
    ; car 11 - spotlight2
    "hammerid" "989882"
}
{
    ; car 12 - glass
    "hammerid" "988085"
}
{
    ; car 12 - glass2
    "hammerid" "988993"
}
{
    ; car 12
    "hammerid" "988076"
}
{
    ; car 12 - sprite1
    "hammerid" "988089"
}
{
    ; car 12 - sprite2
    "hammerid" "988092"
}
{
    ; car 12 - sprite3 
    "hammerid" "988095"
}
{
    ; car 12 - sprite4
    "hammerid" "988098"
}
{
    ; car 12 - spotlight1 
    "hammerid" "988104"
}
{
    ; car 12 - spotlight2
    "hammerid" "988106"
}
{
    ; car 13 - glass
    "hammerid" "986309"
}
{
    ; car 13 - glass2
    "hammerid" "987217"
}
{
    ; car 13
    "hammerid" "986300"
}
{
    ; car 13 - sprite1
    "hammerid" "986313"
}
{
    ; car 13 - sprite2
    "hammerid" "986316"
}
{
    ; car 13 - sprite3 
    "hammerid" "986319"
}
{
    ; car 13 - sprite4
    "hammerid" "986322"
}
{
    ; car 13 - spotlight1 
    "hammerid" "986328"
}
{
    ; car 13 - spotlight2
    "hammerid" "986330"
}
{
    ; car 14 - glass
    "hammerid" "994321"
}
{
    ; car 14 - glass2
    "hammerid" "993413"
}
{
    ; car 14
    "hammerid" "993404"
}
{
    ; car 14 - sprite1
    "hammerid" "993417"
}
{
    ; car 14 - sprite2
    "hammerid" "993420"
}
{
    ; car 14 - sprite3 
    "hammerid" "993423"
}
{
    ; car 14 - sprite4
    "hammerid" "993426"
}
{
    ; car 14 - spotlight1 
    "hammerid" "993432"
}
{
    ; car 14 - spotlight2
    "hammerid" "993434"
}

; END Reduce unnecessary entities to avoid running out of edict on restart
;=======================================================================

